<html>
	<head>
		<title>Домашнаяя страница</title>
		<H1><p align="center">Сайт Шрёдингера</p></H1><br>
	</head>
	
	<body>
		<p align="center">Здесь ничего нет!</p><br>
		<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
		<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
		<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
		<p align="center"><a href="useless">Или всё же есть?</a></p>
	</body>
</html>